In [3]:
#this is the way to write comments

In [5]:
print('Hello World')

Hello World

In [7]:
#this is how the variables are declared - variables cannot be declared starting with any number and can only start with a letter
name = 'Shobhit Jain'

In [9]:
print(name)

Shobhit Jain

In [16]:
#we can save multiple varibles by separating them by a comma (',')
length, breadth, height = 20, 30, 40
print(length)

20

In [25]:
print(height)

40

In [26]:
your_name = input("Please enter your name =")

Please enter your name =

In [1]:
print(your_name)

NameError: name 'your_name' is not defined

In [31]:
print("Volume of the cuboid " + str(length*breadth*height))

#here we learned how to concatenate two strings
#here we also learned how we cannot concatenate string with an integer and therefore what i did is that i converted the integer into string

Volume of the cuboid 24000

In [ ]:
num1 = input("Please enter a number = ")
num2 = input("Please enter another number = ")
print(num1, num2)

In [36]:
#always remember that here the python is considering the numbers here as strings and not integers and therefore no mathematicsal functions will work on them
#therefore we need to convert them into integers
#Method 1: to convert any variable into int

num3 = int(input("Please enter your first number = "))
num4 = int(input("Please enter your second number = "))

print(num3 + num4)

Please enter your first number = 1
Please enter your second number = 2
3

In [ ]:
#Method 2: to convert the string into int
print(int(num1) + int(num2))

In [ ]:
#TIP CALCULATOR APPLICATION

In [8]:
food_amount = int(input("Please enter your bill amount = "))
tip_percent = int(input("Enter your tip percentage % = ")) / 100
tip_amount = food_amount*tip_percent
print("$" + str(tip_amount))

Please enter your bill amount = 190
Enter your tip percentage % = 17
$32.300000000000004

In [16]:
#string formatting
print(f'Tip Amount = {tip_amount}')
print("\n")

Tip Amount = 32.300000000000004

In [4]:
#BOOLEAN - boolean can only be TRUE or FALSE
#WEATHER APPLICATION

weather_condition = input("What is the weather condition today? (Sunny or Rainy or Cloudy) = ")
if weather_condition == "Rainy":
    print("Please carry your umbrella.")
elif weather_condition == "Cloudy":
    print("Please wear some warm clothes")
elif weather_condition == "Thunderstorm":
    print("Please stay at home")
else:
    print("Please carry your sunglasses")

What is the weather condition today? (Sunny or Rainy or Cloudy) = Thunderstorm
Please stay at home

In [4]:
#Grade Generator Application
score = int(input("Please enter the marks obtained = "))

if score >= 95:
    print("You received A+ Grade")
elif score >= 90:
    print("You received A Grade")
elif score >= 85:
    print("You received B+ Grade")
elif score >= 80:
    print("You received B Grade")
elif score >= 75:
    print("You received C+ Grade")
elif score >= 70:
    print("You received C Grade")
else: 
    print("You could not clear the round. You need to work hard!")

Please enter the marks obtained = 10
You could not clear the round. You need to work hard!

In [2]:
type(False)

bool

In [8]:
#pythonic way of writing the same code
score1 = 55
if 60 <= score1 <= 100:
    print("Passing Grade")
else:
    print("Fail")

Fail

In [10]:
#same code with 'and' in the if condition
score2= 87
if score2 <= 60 and score2 >=50:
    print("You passed by margin")
else:
    print("This test is done")

This test is done

In [12]:
#same code with or in the if condition
score3 = 66
if score >= 60 or score <=100:
    print("You have passed the test")
else:
    print("something is wrong")

You have passed the test

In [14]:
#FUNCTIONS

#functions allow you to run big chunk of codes easily with just one call

#this is how a function is defined

def say_my_name():
    print("Shobhit Jain")
    
#this is how a defined function is called
say_my_name()

Shobhit Jain

In [17]:
#adding an argument in the function

#if we want our function to be more dynamic, we will add an argument in the function

def say_my_name1(name):
    print(name)
    
#now lets call the function and add a name in the argument so that it will take that value in the whole function
say_my_name1("Shobhit")

Shobhit

In [23]:
#MULTIPLE ARGUMENTS IN A FUNCTION

def greet(greeting,name):
    print(f'{greeting}{name} !')
    
greet("Hey ", "Shobhit")

Hey Shobhit !

In [27]:
def sum(a,b):
    return a + b

'''
here we did not use print (a+b) and instead we used return, 
because this way we can allocate the value of this function to any variable as well
'''

add = sum(4,5)

print(add + 10)

19

In [17]:
#TIP CALCULATOR APPLICATION - using a Function
'''
variables were order_value and tip_percent and the answer was tip_value and total_bill_amount
'''

def tip_cal(order_value,tip_percent):
    tip = order_value * tip_percent/100
    bill = order_value + tip
    print("Tip Value: $" + str(tip))
    print("Total Bill Amount: $" + str(bill))

tip_cal(1000,25)

Tip Value: $250.0
Total Bill Amount: $1250.0

In [21]:
#WEATHER APPLICATION

def weather(weather_cond):
    if weather_cond == "Rainy":
        print("Please carry your umbrella.")
    elif weather_cond == "Cloudy":
        print("Please wear some warm clothes")
    elif weather_cond == "Thunderstorm":
        print("Please stay at home")
    else:
        print("Please carry your sunglasses")

weather("Rainy")

Please carry your umbrella.

In [24]:
#Print the Greater Number Application

def great(a,b,c):
    if a>b and a>c:
        print("The largest number is: " + str(a))
    elif b>a and b>c:
        print("The largest number is: " + str(b))
    elif c>a and c>b:
        print("The largest number is: " + str(c))
    else:
        print("The numbers are equal !")
    

great(1,4,7)

The largest number is: 7

In [2]:
#LAMBDA FUNCTION

#creating a sum function to understand what exactly is lambda functions
def sum9(a,b):
    sum9 = a + b
    return sum9

sum9(9,1)

10

In [4]:
#Now lets create the same using lambda function: lambda arg1, arg 2: arg1 <exp> arg2
sum8 = lambda a,b: a+b

sum8(9,1)

#so here we created a whole function in just one line

10

In [8]:
multiply = lambda a,b: a*b

multiply(9,1)

9

In [14]:
greet = lambda greeting, name: f"{greeting} {name}"
greet("Hi", "Shobhit")

'Hi Shobhit'

In [26]:
#TESTING YOUR CODE / UNIT TESTING

sumproduct = lambda a,b,c : a*b+c

sumproduct(2,3,4)
#this means code is working as expected

assert sumproduct(2,3,4) == 10
print("Code is working correctly")

Code is working correctly

In [23]:
#Lets test

assert sumproduct(2,3,4) == 10

#on pressing ctrl+enter this will not produce any result and therefore this means the code is working properly
#if in case you have coded a wrong code then it will throw an error message

#lets test with a wrong code

sumprod = lambda a,b,c = a*b-c

assert sumprod(2,3,4) == 10
'''
so basically what asset does is that if your assert statement is correct - means the function which you are trying to test is
correctly coded the your code will run through your assert statement without any message but if its not correct then it would
throw an assertion error
'''

SyntaxError: invalid syntax (<ipython-input-23-2565d3789886>, line 10)

In [33]:
#LISTS (Arrays)

saisushman = ["Shobhit", "Tanmay", "Prabal", "Lucky"]
print(saisushman)

['Shobhit', 'Tanmay', 'Prabal', 'Lucky']

In [35]:
#METHODS in lists

#APPEND
saisushman.append("Gaurav")
print(saisushman)
'''
so APPEND method or .append will add any argument in the last position of the list (to the end)
'''

['Shobhit', 'Tanmay', 'Prabal', 'Lucky', 'Gaurav', 'Gaurav']

'\nso APPEND method or .append will add any argument in the last position of the list\n'

In [38]:
#INDEXING in lists

#indexing in programming starts with 0,1,2,3.......

print(saisushman[2])

#how to always get the last item in tha array - counting from last starts from -1, -2, -3, .......

 
print(saisushman[-1])

Prabal
Gaurav

In [47]:
#SLICING - to select only a chuck of items from the array

print(saisushman[0:4])

#slicing works like selecting items from position 1 to position 3 - here position 0 - Tanmay and postion 3 - lucky - Here we need 
# to understand that the first position on the slicing argument is inclusive and the last position is exclusive meaning
# like we have called 0 to 4 - then it will only give items from postion 0 (as its inclusive) to postion 3 (as position 4 was exclusive)

['Shobhit', 'Tanmay', 'Prabal', 'Lucky']

In [49]:
#LENGTH of an array

len(saisushman)

6

In [51]:
print(saisushman[0:len(saisushman)-1])

['Shobhit', 'Tanmay', 'Prabal', 'Lucky', 'Gaurav']

In [54]:
#STEP Slicing

# Here the slicing happened but it also skipped few names - here in the argument we wrote - start from position 0 to position 5
# but select every second name only
print(saisushman)

print(saisushman[0:6:2])

['Shobhit', 'Tanmay', 'Prabal', 'Lucky', 'Gaurav', 'Gaurav']
['Shobhit', 'Prabal', 'Gaurav']

In [56]:
print(saisushman)

['Shobhit', 'Tanmay', 'Prabal', 'Lucky', 'Gaurav', 'Gaurav']

In [60]:
print(saisushman[::-1]) #reverse the array

['Gaurav', 'Gaurav', 'Lucky', 'Prabal', 'Tanmay', 'Shobhit']

In [62]:
print(saisushman[6:0:-1]) #since while skipping -1 steps means we have reveresed the skipping order therefore we will have to 
                          # do the same in selection also

['Gaurav', 'Gaurav', 'Lucky', 'Prabal', 'Tanmay']

In [1]:
# we can put all type of data inside the lists. Lists are not restrained to any specific data types 
list1 = ["Shobhit Jain", 9 , 3, 1994 , 28.75]
print(list1[0])
print(list1[1])
print(list1[2])

len(list1)

Shobhit Jain
9
3

5

In [2]:
#### METHODS in lists ######
# Append - to add a new item at the end of the list
# Insert - to insert a new item anywhere in the list
# Clear - to clear out the whole list
# Index - 
# Count -
# Remove - to remove items from a list
# Sort - allows you to sort the list
# Reverse - allows you to reverse the position of the items in the list
# Pop - allows you to remove the last item in the list and create a new list

In [4]:
#### DICTIONARY IN PYTHON

# Dictionaries have a KEY VALUE pair

# person = {key:value} format - so while defining a dictionary we define them in a KEY VALUE format
 
person = {"Name": "Shobhit"}

print(person["Name"])

Shobhit

In [16]:
person1 = {
    'name': 'Shobhit', 
           'shirt':'Black',
           'laptop':'Apple',
           'sports':'Badminton'
          }

print(person1['sports'])

#Dictionaries are called objects in JAVA

Badminton

In [1]:
# INTRODUCER APPLICATION

def introduce():
    print(f'Hi my name is {person1["name"]}, I like wearing {person1["shirt"]} shirt, I use {person1["laptop"]} laptop and I also like playing {person1["sports"]}')
    
introduce()

# Here one very important thing to leaen is that I have used single quote ('') with f' and double quotes (" ") while calling dictionary
# thats done to resolve an error as python was not able to read

NameError: name 'person1' is not defined

In [11]:
### REVISE THIS ####

## Lets play around with the INTRODUCER Function to understand
## DICTIONARIES

def introducer():
    person1 = {
        'name' : 'Shobhit',
        'sport' : 'Badminton',
        'profession' : 'Project Manager',
        'company' : 'Alstom',
        'asset' : 200000,
        'debt' : 10000,
        'networth': lambda: person1['asset'] - person1['debt']
    }
    
    print(f"Hi! My name is {person1['name']}, I like playing {person1['sport']}, I work as a {person1['profession']} in {person1['company']}. While working here I have created a networth of {person1['networth']()}")
    
introducer()

# here I made a mistake to put the integer values of asset and debt in quotes. Only strings are required to be put in quotes and nothing else.

# Here I also learned that dictionaries can have a function as a value for any of its keys.

# Here I also learned is Lamda functions doesnot need a return statement as they have an implicit return in them

# Also whenerver you have to call a function, you need to put the parenthesis () at the end of it and thats the reason we used them in the print statement

Hi! My name is Shobhit, I like playing Badminton, I work as a Project Manager in Alstom. While working here I have created a networth of 190000

In [14]:
# dictionaries can also hold an array as values in them

person2 = {
    'name': 'Shobhit',
    'favouritefruit' : ['apple', 'mango', 'banana']
}

#always remember to put a comma after every key-value pair

print(person2['favouritefruit'])

['apple', 'mango', 'banana']

In [15]:
# when we are storing phone numbers in dictionaries, they are generally stored as strings

In [17]:
# METHODS IN DICTIONARIES

print(person2.values())

## dictionary name .values gives all the values associated with all the keys

dict_values(['Shobhit', ['apple', 'mango', 'banana']])

In [19]:
# dictionaries are mutable means changeble and we will change the name in the dictionary 

person2['name'] = 'Prabal'
print(person2.values())

dict_values(['Prabal', ['apple', 'mango', 'banana']])

In [ ]:
## TUPLEs